services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  postgres:
    image: postgres:14
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: weatherdb

  producer:
    build: .
    container_name: weather_producer
    depends_on:
      - kafka
    command: python -u weather-producer.py
    volumes:
      - .:/app

  consumer:
    build: .
    container_name: weather_consumer
    depends_on:
      - kafka
      - postgres
    command: python -u weather-consumer.py
    volumes:
      - .:/app

  trainer:
    build: .
    container_name: weather_trainer
    depends_on:
      - postgres
    command: python train_model.py
    volumes:
      - .:/app
